<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>
<h1><a href="/blog" class="btn btn-primary"> Go Back</a></h1>
<div class="container">
  <form action="/create" method="post" th:object="${blog}">
    <input type="text" th:field="*{id}" hidden>
    <table id="blogs">
      <tr>
        <th>Author</th>
        <td><input type="text" th:field="*{author}" th:value="*{author}"></td>
      </tr>
      <tr>
        <th>Blog Name</th>
        <td><input type="text" th:field="*{title}" th:value="*{title}"></td>
      </tr>
      <tr>
        <th>Content</th>
        <td><textarea th:field="*{content}" cols="60" rows="10" th:text="*{content}"></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit"> Edit </button></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>