<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Title</title>
</head>
<body>
<div class="container">
    <a href="/create"> Viết bài mới </a>
    <a href="/blog">Home</a>
    <form action="/findByName" method="get">
        <input type="text" class="form-control" placeholder="search" name="findName">
        <input type="text" hidden name="action" value="findName">
        <button type="submit" class="btn btn-success">Find</button>
    </form>
    <table border="1" id="blogs">
        <tr>
            <th>Ngày đăng</th>
            <th>Title</th>
            <th>Tác giả</th>
            <th colspan="3" style="text-align: center">Action</th>
        </tr>
        <tr th:each="blog : ${blogList}">
            <td th:text="${blog.date}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.author}"></td>
            <td width="30px"><a th:href="@{/edit/{id}(id=${blog.id})}" class="btn btn-warning"> Edit </a></td>
            <td width="30px"><a th:href="@{/delete/{id}(id=${blog.id})}" class="btn btn-danger"> Delete </a></td>
            <td width="30px"><a th:href="@{/read/{id}(id=${blog.id})}" class="btn btn-primary"> Read </a></td>
        </tr>
    </table>
    <a href="/blog?pageNumber=0" class="btn btn-warning">0</a>
    <a href="/blog?pageNumber=1" class="btn btn-warning">1</a>
</div>

</body>
</html>